*{
	margin: 0;
	padding: 0;
}
input{
	border: 1px solid #C2C2C2;
	outline: none;
	
}
input:focus{
	outline: none;
	
}
body{
	background-image: url(http://www.simonmz.cn:65);
	background-repeat: no-repeat;
	min-height: 100%;
}
.main{
	width: 500px;
	min-height: 605px;
	margin: 0 auto;
	/* background-color: red; */
	position: relative;

}

.logo{
	width: 432px;
	margin: 0 auto;
}
.logoImg{
	display: block;
	width: 120px;
	margin: 0 auto;
	/* margin-top: 140px; */
	margin-bottom: 30px;
}
.slogan{
	text-align: center;
	font-size: 24px;
	/*font-family: "华文魏碑";*/
	margin-bottom: 25px;
	color: #FFFFFF;
}
.container{
	height: 210px;
	width: 432px;
	margin: 0 auto;
	border-radius: 6px;
	background-color: #fff;
}

.form_left{
	height: 210px;
	width: 280px;
	float: left;
	/* background-color: brown; */
}

.in_form{
	display: block;
	width: 220px;
	margin: 20px auto;
}

.input{
	height: 30px;
	width: 220px;
	margin: 10px auto;
	border-radius: 3px;
}
.small{
	font-size: 12px;
	color: #2E2D3C;
	/*overflow: hidden;*/
}
.small::after{
	content: '';
	display: block;
	clear: both;

}
.remember{
	float: left;
	
}
.after_checkbox{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
}
.forget{
	float: right;
}
.submit{
	display: inline-block;
	width: 220px;
	height: 30px;
	border-radius: 4px;
	margin: 22px auto;
	background-color: #009F95;
	color: white;
}
.cut{
	height: 210px;
	width: 12px;
	float: left;
	/* background-color: green; */
}
.up{
	border: 1px solid #C2C2C2;
	background-color: #C2C2C2;	
	width: 0.3px;
	height:60px;
	margin: 0 auto;
	margin-top: 28px;
	margin-bottom: 12px;
}
.down{
	border: 1px solid #C2C2C2;
	background-color: #C2C2C2;
	width: 0.3px;
	height:60px;
	margin: 0 auto;
	margin-top: 12px;
}
.qrc{
	width: 140px;
	height: 210px;
	/* background-color: pink; */
	float: right;
	color: #2E2D3C;
}
.qr{
	display: block;
	width: 120px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	
}
.footer{
	position: absolute;
	bottom: 16px;
	text-align: center;
	color: #C2C2C2;
	/* margin: 0 auto; */
	/* background-color: #009688; */
	left: 78px;
}
.footer a{
	color: #C2C2C2;
	
}
.about {
	color: #C2C2C2;
}
.footer a:hover{
	/* background-color: #FFFFFF; */
}
.about a:hover{
	color: #FFFFFF;
}