<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/layui.css"/>

</head>
<body>
<div class="main">
    <div class="header">
        <div class="logo">
            <img src="/static/img/logo.png" class="logoImg">
        </div>
        <div class="slogan">
            <!-- <p>欢迎使用职业卫生评价检测系统</p> -->
            <img src="/static/img/未标题-2.png" style="width: 350px;">
        </div>
    </div>
    <div class="container">
        <div class="form_left">
            <form action="{{ request.get_full_path }}" method="POST" class="in_form">
                {% csrf_token %}
                <input type="text" name="usr" class="input" value="" placeholder="请输入用户名"/>
                <input type="password" name="pwd" class="input" value="" placeholder="请输入密码"/>

                <div class="small">
                    <div class="remember">
                        <input type="checkbox" name=""  class="after_checkbox" id="check" lay-skin="primary"
                               value="记住密码"/>
                        <label for="check" class="after_checkbox">记住密码</label>
                    </div>
                    <div class="forget">
                        <a href="/register/">没有账号？请注册！</a>
                    </div>

                </div>
                <div style="position: absolute;">
                    <span style="color: red; font-size: 10px;">{{ error }}</span>
                </div>
                <div>
                    <input type="submit" class="submit" name="" value="登录"/>
                </div>
            </form>
        </div>
        <div class="cut">
            <div class="up"></div>
            <span style="font-size: 12px;line-height: 18px; color: #C2C2C2;">或</span>
            <div class="down"></div>
        </div>
        <div class="qrc">
            <img src="/static/img/qr.jpg" class="qr">
            <p style="font-size: 12px;text-align: center;">微信扫描二维码</p>
            <p style="font-size: 12px;text-align: center;">关注微信公众号</p>

        </div>
    </div>
    <div class="footer">
        <div class="about">
            <a href="http://www.cqszfy.com">重庆市六院</a>
            <span>|</span>
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="http://www.simonmz.ink">主页</a>
            <span>|</span>
            <span>联系电话:18623412354</span>
        </div>
        <div class="copyright">
					<span id="">
						Copyright&copy;2019-2020, simonmz.cn, All rightreserved.
					</span>
        </div>
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/layui.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        layer.msg('Hello World');
    });
</script>
<script type="text/javascript">
    var t = document.getElementsByClassName('main')[0];
    var f = document.getElementsByClassName('logoImg')[0];
    var h = document.documentElement.clientHeight;
    var p = 'px';
    var fv = h / 2 - 311;
    // console.log(fv);
    var tv = h - fv;
    // console.log(tv);
    // console.log(h);
    t.style.height = tv + p;
    f.style.marginTop = fv + p;
    // f.setAttribute('marginTop':fv+p);
</script>
</body>
</html>
